.container{
    display: flex;
    flex-direction: column;
    margin: 16px;
    height: calc(100vh - 70px - 70px);
}

.chat-window{
    height: 90%;
    width: 100%;
    margin-bottom: 16px;
    background-color: #c5cae9;
    border-radius: 16px;
}

.chat-content {
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sender{
    justify-content: flex-end;
}

.message-bubble {
    width: fit-content;
    padding: 16px;
    background-color: rgb(145, 133, 156);
    align-items: center;
    justify-content: center;
    height: fit-content;
}

.message-bubble--sender {
    width: fit-content;
    padding: 16px;
    align-items: center;
    justify-content: center;
    background-color: rgb(156, 156, 181);
    height: fit-content;
}

.time-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.time-text {
    color: #392852;
}

.message-text {
    width: 50%;
    word-wrap: break-word;
}

.messenger {
    border-radius: 16px;
    height: 10%;
    width: 100%;
    background: #c5cae9;
}

.message-container {
    margin: 8px;
    height: 80%;
    display: flex;
    flex-direction: row;
    word-wrap: break-word;
    white-space: normal;
}
.message-form {
    width: 90%;
}
.message-actions {
    display: flex;
    flex-direction: row;
    flex-shrink: 1;
    width: 10%;
}  

::ng-deep .mat-mdc-text-field-wrapper {
    height: 50px !important;
    flex: auto;
}