<div class="container">
    <div class="chat-window">
        <div class="chat-content">
            <p>messages</p>
        </div>
    </div>
    <div class="messenger mat-elevation-z5">
        <div class="message-container">
            <div class="message-form">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Send a message</mat-label>
                    <input matInput type="text">
                </mat-form-field>
            </div>
            <div class="message-actions">
                <button mat-icon-button><mat-icon>send</mat-icon></button>
                <button mat-icon-button><mat-icon>image</mat-icon></button>
                <button mat-icon-button><mat-icon>note_add</mat-icon></button>
            </div>
        </div>
    </div>
</div>
