<div class="container">
    <div class="chat-window">
        <p style="margin:16px">Messages from {{chatName}}</p>
        <div *ngIf="messageList.length" class="chat-container">
            <div *ngFor="let message of messageList$ | async">
                <div *ngIf="loggedUserId === message.userId">
                    <div class="chat-content sender">
                        <mat-card class="message-bubble--sender">
                            <div class="time-box">
                                <span class="time-text">{{message.userName}}</span>
                                <div style="width: 16px"></div>
                                <span class="time-text">{{message.timeSent | date:'dd-MM-YY HH:mm'}}</span>
                            </div>
                            <span>{{message.content}}</span>
                        </mat-card>
                    </div>
                </div>
                <div *ngIf="loggedUserId !== message.userId">
                    <div class="chat-content">
                        <mat-card class="message-bubble">
                            <div class="time-box">
                                <span class="time-text">{{message.userName}}</span>
                                <div style="width: 16px"></div>
                                <span class="time-text">{{message.timeSent | date:'dd-MM-YY HH:mm'}}</span>
                            </div>
                            <span>{{message.content}}</span>
                        </mat-card>
                    </div>
                </div>
            </div>
            
        </div>
        <div *ngIf="!chatValue" class="chat-content">
            <p>Select a conversation</p>
        </div>
    </div>
    <div class="messenger mat-elevation-z5">
        <div class="message-container">
            <div class="message-form">
                <mat-form-field appearance="outline" style="width:100%">
                    <mat-label>Send a message</mat-label>
                    <input matInput type="text" [formControl]="messageForm">
                </mat-form-field>
            </div>
            <div class="message-actions">
                <button mat-icon-button (click)="submit()"><mat-icon>send</mat-icon></button>
            </div>
        </div>
    </div>
</div>
