<div class="container">
    <div class="chat-box">
        <span>chat 1</span>
    </div>
    <div style="height: 8px"></div>
    <div class="chat-box">
        <span>chat 1</span>
    </div>
    <div style="height: 8px"></div>
    <div class="chat-box">
        <span>chat 1</span>
    </div>
    <div style="height: 8px"></div>
    <div class="chat-box">
        <span>chat 1</span>
    </div>
    <div style="height: 8px"></div>
    <div class="chat-box">
        <span>chat 1</span>
    </div>
    <div style="height: 8px"></div>
    <div class="chat-box">
        <span>chat 1</span>
    </div>
    <div style="height: 8px"></div>
    <div class="chat-box">
        <span>chat 1</span>
    </div>
    <div style="height: 8px"></div>
    <div class="chat-box">
        <span>chat 1</span>
    </div>
    <div style="height: 8px"></div>
    
</div>
