<div class="container">
    <div *ngFor="let el of chatList$ | async" style="width:100%">
        <div class="chat-box" (click)="takeMeToChat(el)">
            <div class="chat-box-container">
                <span>{{el.chatName}}</span>
                <!-- <span>{{el.messages ? el.messages[el.messages.length-1] : ''}}</span>
                <span>{{el.messages ? el.messages[el.messages.length-1].timeSent : ''}}</span> -->
            </div>
        </div>
        <div style="height: 8px"></div>
    </div>    
</div>
