.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}
mat-card {
    background-color: #c5cae9 ;
    position: absolute;
    width: 100%;
    height: 450px;
    max-width: 450px;
    margin: 2em auto;
    justify-content: center;
    text-align: center;
    max-height: 450px;
}

mat-card-content{
  padding: 16px;
}
  
  .header{
    text-align: center;
  
  }
  .full-width {
    width: 80%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }

.footer{
  display: flex;
  flex-direction: row;
  color: white;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 20vh;
}