<div style="margin:16px;">
    <mat-form-field appearance="outline" style="width:100%">
        <input matInput [formControl]="searchForm" placeholder="Search for chat" [matAutocomplete]="chats">
        <mat-label>Search</mat-label>
    </mat-form-field>
    <mat-autocomplete #chats="matAutocomplete" [displayWith]="displayFn"  (optionSelected)="optionSelection($event)">
       <mat-option *ngFor="let option of userList" [value]="option">{{option.username}}</mat-option>
    </mat-autocomplete>
</div>
